*{
    margin: 0;
    padding: 0;
}

main{
    width: 90%;
    margin: 50px auto;
    border: 1px solid black;
    display: grid;
    grid-template-rows: 150px 150px;
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-columns: repeat(3,1fr);
    /* grid-row-gap: 20px;
    grid-column-gap: 20px; */
    grid-gap: 20px;
}

.div1{
    background: pink;
}

.div2 {
    background: yellow;
}
.div3 {
    background: green;
}
.div4 {
    background: red;
}
.div5 {
    background: blue;
}
.div6 {
    background: violet;
}